.home_page_field {
  font-size: 2.5em;
  padding-left: .5em;
  padding-top: .5em;
  color: white;
  font-family: "Futura", Arial, serif;
}

#menuWrap {
position: absolute;
  background-color: #fff9a3;
  right: 1em;
  height: 4em;
  width: 4em;
  top: 10%;
}

.panel-toggler__line{
  background-color: white;
  width: 100%;
}

#menu {
  position: absolute;
  background-color: #fff9a3;
  right: 1em;
  height: 5em;
  width: 5em;
  top: 15%;
  flex: 0 0 auto;
  cursor: pointer;
  border: none;

}

#menu:hover, #menu:focus {
    background-color: #2980B9;
    border-radius: 1em;
}

.panel-toggler__line {
  height: .5em;
  width: 100%;
  background-color: white;
    display: inline-block;
}

.header_fixed{
    position: relative;
    z-index: 110;
    top: 0;
    right: 0;
    left: 0;
}

dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    top: 2em;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-radius: 1em;
    top: 4em;
    right:2em;
    display: none;
    position: absolute;
    background-color: #54a4a6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   font-family: "Futura", Arial, serif;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



#logo {
  height: 60px;
  width: 7.19em;
  position:relative;
  top: .625em;
  left: .625em;
  border-radius: .93em;
  z-index: 5;

}

#headerBack{
  position:relative;
  width: 100%;
  height: 100%;
  background-color: #fff9a3;
  z-index: 4;
  display: block;
}

#background{
    background-color: #fff9a3;
}

#formWrapper{
  background-color: #a3d5ff;
  border-radius: 2em;
  position: relative;
     display: block;
    margin-left: auto;
    margin-right: auto;
  width: 95%;
  height: 95%;
  top: 1em;
}

#submitImage{
  position:relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  border-radius: 2em;
  font-size: 1em;
  font-family: "Futura", Arial, serif;

}

#imageWrap{
  background-color: white;
  border-radius: 2em;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  height: 15em;
  top: 1em;
}

#infoWrap{
  padding-top: 1em;
  position: relative;
}

.field{
  border: none;
}

.personInfo{

  font-size: 1.5em;
  font-family: "Futura", Arial, serif;
  color: white;
}

.personInput{
  border-radius: .5em;
  width: 70%;
  height: 1.5em;

}

#title{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Main Body */

body{
  background-color: #fff9a3;
  font-family: "Futura", Arial, serif;
  font-size: 1em;
}

#main_section{
  position: relative;
  top: 3em;
  color: white;
}

#profile_panel {
  border-radius: 2em;
  position: relative;
  width: auto;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #73AD21;
}

#profile_table{
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

#page_counter {
  position: relative;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  color: black;
}

#profile_image{
  border-radius: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:20em;
  height: 20em;
}

#profile_image_div{
  padding-top: 2em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#info{
  display: inline-block;
  position: relative;
}

.arrows{
  text-align: center;
  font-size: 3em;
}
#arrow_left{

  margin-left: 10px;
  margin-right: 10px;
}

#arrow_right{

  margin-left: 10px;
  margin-right: 10px;
}

#outertable{
  margin-left: auto;
  margin-right: auto;
}
