<h1> Create Profile </h1>

<h2 style="color:red"> {{error}} </h2>

<form action ='/profile' method="post">
<ul>
        <li>
                <label for="usernameIn"> Username : </label>
                <input id="usernameIn" type="text"  name="usernameIn">
        </li>

        <li>
                <label for="userPassword"> Password: </label>
                <input id="userPassword" type="password" value =""  name="userPassword">
        </li>

        <li>
                <label for="userRePassword"> Re-enter Password: </label>
                <input id="userRePassword" type="password"  name="userRePassword">
        </li>

        <li>
                <label for="userNameActual"> Name: </label>
                <input id="userNameActual" type="text"  name="userNameActual">
        </li>

        <li>
                <label for="userLocation"> Location: </label>
                <input id="userLocation" type="text"  name="userLocation">
        </li>

        <li>
                <label for="userCOO">Country Of Origin: </label>
                <input id="userCOO" type="text"  name="userCOO">
        </li>

        <li>
                <label for="userContact"> Contact: </label>
                <input id="userContact" type="text" name="userContact">
        </li>

        <li>
                <label for="userInterests"> Interests: </label>
                <input id="userInterests" type="text" name="userInterests">
        </li>

        <li>
                <label for="userBiography"> Biography: </label>
                <input id="userBiography" type="text" name="userBio">
        </li>

        <li>
              <input type="submit" name="userProfileCreate">
        </li>
</form>
