<h1> Create Profile </h1>


<form method="post">

        <label for="usernameIn"> Username : </label>
        <input id="usernameIn" type="text"  name="usernameIn">

         <label for="userPassword"> Password: </label>
        <input id="userPassword" type="text" value =""  name="userPassword">

       <label for="userRePassword"> Re-enter Password: </label>
        <input id="userRePassword" type="text"  name="userRePassword">

         <label for="userNameActual"> Name: </label>
        <input id="userNameActual" type="text"  name="userNameActual">

         <label for="userLocation"> Location: </label>
        <input id="userLocation" type="text"  name="userLocation">

         <label for="userCOO">Country Of Origin: </label>
        <input id="userCOO" type="text"  name="userCOO">

         <label for="userContact"> Contact: </label>
        <input id="userContact" type="text" name="userContact">

         <label for="userInterests"> Interests: </label>
        <input id="userInterests" type="text" name="userInterests">

         <label for="userBiography"> Biography: </label>
        <input id="userBiography" type="text" name="userBio">

              <input type="submit" name="userProfileCreate">
</form>
