<h1>CommunityConnect Home Page</h1>
<h2> Menu </h2>

<form action ="/LoginCreate" method="get">
        <input type="submit" value= "Login/Create Profile" name="Login/Create" id="LoginCreate">
</form>

<h3> About  </h3>
<h4> How To Use </h4>
