<h1>CommunityConnect Home Page</h1>
<h2> Menu </h2>
<form action ="/LoginCreate" method="get">
        <label> Login/Create Profile </label>
        <input type="button" name="Login/Create" id="LoginCreate">
</form>

<h3> About  </h3>
<h4> How To Use </h4>
