<h1> LOGIN PAGE </h1>
<form action= "/Login"  method="post">

        <label for="name">Username:</label>
        <input id="userName" type="text" name="username">

        <label for="password">Password:</label>
        <input id="password" type="password" name="password">

        <input type="submit" value="Login" name="Login">
</form>

<form action= "/createProfile"  method="get">

        <label for="createProfile"> Dont Have a Profile? </label>
        <input id="createProfile" value= "Create Profile" type="submit" name="createProfile">

</form>
