<form action="/create" method="post">

        <label for="name">Username:</label>
        <input id="userName" type="text" name="username">

        <label for="password">Password:</label>
        <input id="password" type="password" name="password">

        <input type="submit" name="New Profile">
</form>
