#body1{
  padding: 0;
  margin: 0;

}

#section1 {
      width: 100%;
      height: 50em;
      /*border-radius: 25px;*/
      background: #fff9a3;
}

#section2 {
      width: 100%;
      height: 50em;
      /*border-radius: 25px;*/
      background: #ffbf8d;
}

#section3 {
      width: 100%;
      height: 50em;
      /*border-radius: 25px;*/
      background: #a3d5ff;
}

.home_page_field {
  font-size: 2.5em;
  padding-left: .5em;
  padding-top: .5em;
  color: white;
  font-family: "Futura", Arial, serif;
}


#logo {
  height: 60px;
  width: 7.19em;
  position:relative;
  top: .625em;
  left: .625em;
  border-radius: .93em;
  z-index: 5;

}

#banner{
  position:fixed;
  width: 100%;
  height: 5.625em;
  background-color: #fff9a3;
  z-index: 4;
  display: block;
  transition-property: background-color;
  transition-duration: 400ms;
  transition-timing-function: ease-in;
   transition-delay: initial;

}

/*
#menu {
  top: 15px;
  position:fixed;
  z-index:5;
  left: 31.25em;

}*/


/****************************/
#menuWrap {
position: absolute;
  background-color: #fff9a3;
  right: 1em;
  height: 5em;
  width: 5em;
  top: 10%;
}

.panel-toggler__line{
  background-color: white;
  width: 100%;
}

#menu {
  position: absolute;
  background-color: #fff9a3;
  right: 1em;
  height: 5em;
  width: 5em;
  top: 15%;
  flex: 0 0 auto;
  cursor: pointer;
  border: none;

}

#menu:hover, #menu:focus {
    background-color: #2980B9;
    border-radius: 1em;
}

.panel-toggler__line {
  height: .5em;
  width: 100%;
  background-color: white;
    display: inline-block;
}

.header_fixed{
    position: fixed;
    z-index: 110;
    top: 0;
    right: 0;
    left: 0;
}




/*************/
dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    top: 2em;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-radius: 1em;
    top: 4em;
    right:2em;
    display: none;
    position: absolute;
    background-color: #54a4a6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   font-family: "Futura", Arial, serif;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/**************************/





 #map {
    border-radius: 1.56em;
    height: 100%;
    display: block;
}

#subwindow{
  border-radius: 1.56em;
  padding: 3.125em 0;
  height: 65%;
  width: 65%;
  position:relative;
  top: 2.5em;
  margin-left: auto;
  margin-right: auto;
}

#mapHeader{
    position:relative;
    font-size: 3em;
    top: .3125em;
    padding: .3125em;
    text-align: center;
    font-family: "Futura", Arial, serif;
    color: #a3d5ff;
}

#aboutCC{
	font-family: "Futura", Arial, serif;
	font-size: 30px;
	line-height: 40px;
	padding-left: 10%;
	padding-right: 55%;
	padding-top: 7%;
}

#howTo{
	font-family: "Futura", Arial, serif;
	font-size: 30px;
	line-height: 40px;
	padding-left: 10%;
	padding-right: 55%;
	padding-top: 7%;
}
